
<header>
  

  <!--Navbar-->
  <nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark">
    
    <div class="container-fluid">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <img class="img-circle" src="assets/img/brandmark.png" alt="" style="width:100px;height:60px;">
        </li>
      </ul>

      
      
      <ul class="navbar-nav ">
        
        <li class="nav-item">
          <a class="nav-link" href="#" >Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Learn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">LoveJoie <i class="fa fa-heart fa-1x pink-text"></i></a>
        </li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar-->

  <!--/.Mask-->

</header>
  
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    
      <mdb-carousel-item>
        <video class="video-fluid" autoplay loop muted>
          <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4" />
        </video>
        
        
      </mdb-carousel-item>
      <div class="carousel-caption">
        <h1 class="h1-responsive" style = "position:float; left:0px; top:100px; ">Third Places That Perfectly Fit You</h1>
        
        <p>We enable you to thrive outside the office and home </p>
      </div>
      <mdb-carousel-item>
        
        <video class="video-fluid" autoplay loop muted>
          <source src="https://mdbootstrap.com/img/video/forest.mp4" type="video/mp4" />
        </video>

        
      </mdb-carousel-item>
      
      <mdb-carousel-item>
        
        <video class="video-fluid" autoplay loop muted>
          <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4" />
        </video>
        
      </mdb-carousel-item>
      
    </mdb-carousel>
    
  


<section id="Equality" class="content-section">
  <div class="container content-wrap text-center"  >
   
      <h2>What Joie Is All About</h2>
    

  <!--Grid row-->
  <div class="row d-flex justify-content-center mb-4">

      <!--Grid column-->
      <div class="col-md-8">

         

      </div>
      <!--Grid column-->

  </div>
  <!--Grid row-->

  <!--Grid row--> 
  <div class="row">

      <!--Grid column-->
      <div class="col-md-4 mb-5">
          <i class="fa fa-laptop fa-4x purple-text"></i>
          <h4 class="my-4 font-weight-italics">Discover</h4>
          <p class="grey-text">Browse Unique Places, Events & Communities curated for you...</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-1">
        <i class="fa fa-camera-retro fa-4x purple-text"></i>
          <h4 class="my-4 font-weight-italics">Experience</h4>
          <p class="grey-text">Secure Your place OnDemand. Invite Friends & Engage a Community...  
          </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-1">
          <i class="fa fa-suitcase fa-4x purple-text"></i>
          <h4 class="my-4 font-weight-italics">Book</h4>
          <p class="grey-text">Be truly flexible.  Further Connections & Personal Purpose. </p>
      </div>
      <!--Grid column-->

  </div>
  <!--Grid row-->
</div>

</section>
<!--Section: Best Features-->

<hr class="my-5">


<section id="Empower" class="content-section">
  
  <!--Grid row-->
  <div class="row">
    
    <!--Grid column-->
    <div class="col-md-6">
      <div class="block-heading">
      <h4 class="text-left">How Third Places Work</h4>
    </div>
      <!--Excerpt-->
      
      <p class="grey-text">We’ve modernized and simplified the decades old practice of coworking. Moving beyond Design and Community. Watch our video to learn how curated selection of your third places allows you to enjoy the benefits of joy and productivity and a better human experience without all of the hassles
      </p>

      <br><br>

      
      

  </div>
  <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

          <!--Carousel Wrapper-->
          <div id="carousel-example-1z" class="carousel slide carousel-fade carousel-fade" data-ride="carousel">
              
              
              
              <div class="carousel-inner z-depth-1-half" role="listbox">
                  
                  <div class="carousel-item active">
                      <img class="d-block w-100" src="assets/img/collage.jpg"
                          alt="First slide">
                  </div>
  
              </div>
             
              
          </div>
          <!--/.Carousel Wrapper-->

      </div>
      <!--Grid column-->

  </div>
  <!--Grid row-->
</section>




<section id="About" class="content-section">
  

  <!--Grid row-->
  <div class="row">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

          <!--Carousel Wrapper-->
          <div id="carousel-example-1z" class="carousel slide carousel-fade carousel-fade" data-ride="carousel">
             
              <!--/.Indicators-->
              <!--Slides-->
              <div class="carousel-inner z-depth-1-half" role="listbox">
                  <!--First slide-->
                  <div class="carousel-item active">
                      <img class="d-block w-100" src="assets/img/desk.jpg"
                          alt="First slide">
                  </div>
                 
              </div>
            
              <!--/.Controls-->
          </div>
          <!--/.Carousel Wrapper-->

      </div>
      <!--Grid column-->

  <!--Grid column-->
      <div class="col-md-6">

          <!--Excerpt-->
          <div class="block-heading">
            <h4 class="text-left">Flexibility, Choice & better Human Experience</h4>

            <p class="text-left grey-text">We’re where you want to be. Browse our curated selection of noteworthy workplaces </p><br><br>
            
          </div>
          

      </div>
      <!--Grid column-->

  </div>
  <!--Grid row-->

    
</section>

<section id="Portfolio" class="content-section">
  

  <!--Grid row-->
  <div class="row">

      <!--Grid column-->
      <div class="col-md-6">
        <div class="block-heading">
        <h4 class="text-left">Beautiful Places, Inclusive Community  </h4>
      </div>

        <!--Excerpt-->
        
        <p class="grey-text">Joie offers workplaces in some of the most sought after inspirational places in your neighborhood and around the world. Check out our current markets and find your favorite, or tell us where we should expand next.</p>
        

    </div>
    <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

          <!--Carousel Wrapper-->
          <div id="carousel-example-1z" class="carousel slide carousel-fade carousel-fade" data-ride="carousel">
              <!--Slides-->
              <div class="carousel-inner z-depth-1-half" role="listbox">
                  <!--First slide-->
                  <div class="carousel-item active">
                      <img class="d-block w-100" src="assets/img/team.jpg"
                          alt="First slide">
                  </div>
                  
                  
              </div>
             
              <!--/.Controls-->
          </div>
          <!--/.Carousel Wrapper-->

      </div>
      <!--Grid column-->

  </div>
  <!--Grid row-->
</section>

 
  <!--Grid row-->
  <section id="Examples" class="content-section text-center">

    <div class="container">
      <div class="block-heading">
        <h4 class="text-left">Featured Joies</h4>
        <p class="text-left grey-text">Browse our curated selection of noteworthy workplaces        </p>
      </div>
    

      <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <div class="card">
            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
              <mdb-carousel-item>
                <img class="d-block" src="assets/img/slide2.jpg" alt="First slide" width="400" height="250">
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img class="d-block w-100" src="assets/img/slide3.jpg" alt="Second slide" width="400" height="250">
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img class="d-block w-100" src="assets/img/slide4.jpg" alt="Third slide" width="400" height="250">
              </mdb-carousel-item>
            </mdb-carousel>
            <div class="card-body">
              <h5 class="card-title" class="text-left">Eugenia</h5>
              <h6 class="card-text" class="text-left">
                $66548.000</h6>
                <p class="text-left">Incline Village, NY</p>
            </div>
          </div>
            

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <div class="card">
            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
              <mdb-carousel-item>
                <img class="d-block" src="assets/img/slide8.jpg" alt="First slide" width="400" height="250">
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img class="d-block w-100" src="assets/img/slide5.jpg" alt="Second slide" width="400" height="250">
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img class="d-block w-100" src="assets/img/slide7.jpg" alt="Third slide" width="400" height="250">
              </mdb-carousel-item>
            </mdb-carousel>
            <div class="card-body">
              <h5 class="card-title" class="text-left">Eugenia</h5>
              <h6 class="card-text" class="text-left">
                $66548.000</h6>
                <p class="text-left">Incline Village, NY</p>
            </div>
          </div>
            

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <div class="card">
            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
              <mdb-carousel-item>
                <img class="d-block" src="assets/img/slide2.jpg" alt="First slide" width="400" height="250">
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img class="d-block w-100" src="assets/img/slide8.jpg" alt="Second slide" width="400" height="250">
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img class="d-block w-100" src="assets/img/slide4.jpg" alt="Third slide" width="400" height="250">
              </mdb-carousel-item>
            </mdb-carousel>
            <div class="card-body">
              <h5 class="card-title" class="text-left">Eugenia</h5>
              <h6 class="card-text" class="text-left">
                $66548.000</h6>
                <p class="text-left">Incline Village, NY</p>
            </div>
          </div>
            

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <div class="card">
            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
              <mdb-carousel-item>
                <img class="d-block" src="assets/img/slide2.jpg" alt="First slide" width="400" height="250">
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img class="d-block w-100" src="assets/img/slide3.jpg" alt="Second slide" width="400" height="250">
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img class="d-block w-100" src="assets/img/slide4.jpg" alt="Third slide" width="400" height="250">
              </mdb-carousel-item>
            </mdb-carousel>
            <div class="card-body">
              <h5 class="card-title" class="text-left">Eugenia</h5>
              <h6 class="card-text" class="text-left">
                $66548.000</h6>
                <p class="text-left">Incline Village, NY</p>
            </div>
          </div>
            

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <div class="card">
            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
              <mdb-carousel-item>
                <img class="d-block" src="assets/img/slide7.jpg" alt="First slide" width="400" height="250">
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img class="d-block w-100" src="assets/img/slide8.jpg" alt="Second slide" width="400" height="250">
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img class="d-block w-100" src="assets/img/slide3.jpg" alt="Third slide" width="400" height="250">
              </mdb-carousel-item>
            </mdb-carousel>
            <div class="card-body">
              <h5 class="card-title" class="text-left">Star Gaze</h5>
              <h6 class="card-text" class="text-left">
                $66548.000</h6>
                <p class="text-left">Incline Village, NY</p>
              
            </div>
          </div>
            

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <div class="card">
            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
              <mdb-carousel-item>
                <img class="d-block" src="assets/img/slide1.jpg" alt="First slide" width="400" height="250">
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img class="d-block w-100" src="assets/img/slide3.jpg" alt="Second slide" width="400" height="250">
              </mdb-carousel-item>
              <mdb-carousel-item>
                <img class="d-block w-100" src="assets/img/slide4.jpg" alt="Third slide" width="400" height="250">
              </mdb-carousel-item>
            </mdb-carousel>
            <div class="card-body">
              <h5 class="card-title" class="text-left">Eugenia</h5>
              <h6 class="card-text" class="text-left">
                $66548.000</h6>
                <p class="text-left">Incline Village, NY</p>
            </div>
          </div>

        
            

        </div>
        <!--Grid column-->

    </div>
    
  </div>

</section>


<section id="About" class="content-section">
  

  <!--Grid row-->
  <div class="row">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

          <!--Carousel Wrapper-->
          <div id="carousel-example-1z" class="carousel slide carousel-fade carousel-fade" data-ride="carousel">
             
              <!--/.Indicators-->
              <!--Slides-->
              <div class="carousel-inner z-depth-1-half" role="listbox">
                  <!--First slide-->
                  <div class="carousel-item active">
                      <img class="d-block w-100" src="assets/img/desk.jpg"
                          alt="First slide">
                  </div>
                 
              </div>
            
              <!--/.Controls-->
          </div>
          <!--/.Carousel Wrapper-->

      </div>
      <!--Grid column-->

  <!--Grid column-->
      <div class="col-md-6">

          <!--Excerpt-->
          <div class="block-heading">
            <h4 class="text-left">Flexibility, Choice & better Human Experience</h4>

            <p class="text-left grey-text">We’re where you want to be. Browse our curated selection of noteworthy workplaces </p><br><br>
            
          </div>
          

      </div>
      <!--Grid column-->

  </div>
  <!--Grid row-->

    
</section>

<section id="News" class="content-section">
  <div class="container">
    
    <div class="row">
      <div class="col-md-6 mb-4">

        <!--Carousel Wrapper-->
        <div id="carousel-example-1z" class="carousel slide carousel-fade carousel-fade" data-ride="carousel">
           
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner z-depth-1-half" role="listbox">
                <!--First slide-->
                <div class="carousel-item active">
                    <img class="d-block w-100" src="assets/img/workspace.jpg"
                        alt="First slide" height="500">
                </div>
               
            </div>
          
            <!--/.Controls-->
        </div>
        <!--/.Carousel Wrapper-->

    </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="block-heading">
          <h2>Find your Joie and Bring Joie to Others</h2>
          <p class="grey-text">Be Inspired, Be Supported and Thrive @ Work  Your Third Place is Awaiting You</p>
          
        </div>
        <div class="form-wrap">
          <form action="javascript:void(0)" method="post">
            <div class="fname floating-label">
              <input type="text" class="floating-input" name="full name" />
              <label for="title">First Name</label>
            </div>
            <div class="fname floating-label">
              <input type="text" class="floating-input" name="full name" />
              <label for="title">Last Name</label>
            </div>
            <div class="email floating-label">
              <input type="email" class="floating-input" name="email" />
              <label for="email">Email</label>
            </div>
            <div class="email floating-label">
              <input type="linkedIn" class="floating-input" name="LinkedIn" />
              <label for="LinkedIn">LikedIn</label>
            </div>
            <div class="email floating-label">
              <input type="text" class="floating-input" name="Desire" />
              <label for="Desire">What do you desire as Joie?</label>
            </div>
    
            <div class="submit-btn">
              <button type="submit">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="Contact" class="content-section">

  <div class="container">
    
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="contact-wrapper">
          <div class="block-heading">
            <h2>We'd love to hear from you</h2>
            <p class="grey-text">Have any question in mind or want to enquire? Please feel free to contact us through the form or the following details.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="contact-wrapper">
          <div >
            <h3 class="add-title">Let's talk</h3>
            
            <div class="c-detail">
              <span class="c-icon"><i class="fa fa-phone" aria-hidden="true"></i></span><span class="c-info">+1 23 456 789  hello@Joie.com</span>
            </div>
            <div class="c-detail">
              <span class="c-icon"><i class="fa fa-envelope" aria-hidden="true"></i></span><span class="c-info">shegun@WorkEveryWhere.com</span>
            </div>
          </div>

          <div >
            <h3 class="add-title">Head Office</h3>
            <div class="c-detail">
              <span class="c-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span><span class="c-info"> 8 Brewery Drive, Hudson, NH 03051
                USA</span>
            </div>
            
     
          </div>

          <div >
            <h3 class="add-title">Branch Office</h3>
            <div class="c-detail">
              <span class="c-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span><span class="c-info"> 178 Marconi St., Venice, 34293
                Italy</span>
            </div>
            
     
          </div>
        </div>
      </div>
     
    </div>

  </div>
</section>

<footer class="footer text-center">
  <div class="container">
    
    <p class="text-muted small mb-0">Copyright © 2022.</p>
    
  </div>
</footer>



